/* #region General */
:root {
  --dark1: #181818;
  --dark2: #252525;
  --dark3: #333333;
  --dark4: #3e3e3e;
  --dark5: #4a4a4a;

  --text-color: white;
  --border-color-input: #6c757d;
  --tag-color: #529cf0;
  --list-row-hover: #529cf0;
  --ok-btn-color: #4caf50;
  --ok-btn-color-hover: #41973e;
  --not-ok-btn-color: #f44336;
  --not-ok-btn-color-hover: #e53935;
  --grid-clms: 1fr 5fr 3fr 1fr 1fr 1fr;
  --header-height: 40px;
  --footer-height: 30px;
  --border-rad: 16px;
  --buttons-width: 35px;
  --buttons-responsive-width: 30px;
  --profile-pic-w: 64px;
  --box-shadow-effects: 0 5px 10px 0 rgba(0, 0, 0, 0.25),
    0 1.5px 6px 0 rgba(60, 60, 60, 0.11);
}
@font-face {
  font-family: "Inter";
  src: url("../src/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

/* #endregion General*/

/* #region Body */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: 100%;
  font-family: "Inter";
  color: var(--text-color);
  background-color: var(--dark1);
}

#wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
  padding: 2%;
}
/* #endregion Body*/

/* #region Header */
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
  width: 100%;
}

header > h1 {
  font-size: 3rem;
  text-align: center;
  width: 100%;
}

#nav-bar {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
  gap: 2%;
  width: 100%;
  padding: 1% 2vw;
}

#nav-bar > a {
  margin-bottom: 10px;
  border: none;
  min-width: 200px;
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-size: 1.1em;
  text-align: center;
  cursor: pointer;
  color: var(--text-color);
  background-color: var(--dark4);
  border-radius: var(--border-rad);
  transition: transform 0.3s ease-out, background-color 0.3s ease-in-out;
  box-shadow: var(--box-shadow-effects);
}

#nav-bar > a:hover,
#new-image-upload :hover {
  background-color: var(--list-row-hover);
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

/* #endregion Header */

/* #region Main */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 3% 0;
}

/*#region Search Navigation Section*/
#search-nav-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1% 1vw;
  margin-bottom: 2%;
  background-color: var(--dark2);
  border-radius: var(--border-rad);
  box-shadow: var(--box-shadow-effects);
}

#search-bar-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--dark3);
  border-radius: 50px;
  height: 7vh;
  padding: 0 1vw;
  transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
  transition: transform 0.3s ease-out, border 0.3s ease-out;
  box-shadow: var(--box-shadow-effects);
}

#search-bar-div:focus-within {
  background-color: var(--dark4);
  border: 2px solid var(--border-color-input);
  transform: scale(1.01);
}

#search-input {
  height: 100%;
  padding: 0 1rem;
  outline: none;
  border: none;
  width: 32vw;
  font-size: 1.5rem;
  color: var(--text-color);
  background-color: var(--dark3);
  border-radius: var(--border-rad);
  transition: background-color 0.3s ease-in-out;
}

#search-input:focus {
  background-color: var(--dark4);
}

#search-icon {
  width: var(--buttons-width);
  transition: transform 0.3s ease-in-out;
}

#search-btns-div {
  height: 7vh;
  padding: 0 1vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  background-color: var(--dark3);
  border-radius: 50px;
  box-shadow: var(--box-shadow-effects);
}

#search-btns-div button {
  width: 3rem;
  height: 3rem;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease-out;
}

#search-btns-div button:hover {
  transform: scale(1.2);
}

.btns-imgs {
  width: var(--buttons-width);
}
/*#endregion Search Navigation Section*/

/*#region Contact Table Section*/
#contacts-data-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2%;
  background-color: var(--dark2);
  border-radius: var(--border-rad);
}

#empty-contact-msg {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  display: none;
}

#empty-contact-msg p {
  font-size: 3rem;
}

#contacts-list {
  list-style: none;
  width: 100%;
  max-height: 320px;
  background-color: var(--dark1);
  box-shadow: var(--box-shadow-effects);
  margin: 0;
  padding: 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

html::-webkit-scrollbar,
#contacts-list::-webkit-scrollbar {
  width: 0;
}

/* List Header */
#list-header {
  padding: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid var(--dark5);
}

.list-header-titles {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark3);
  font-weight: bold;
  height: 50px;
  flex-grow: 1;
  flex-basis: 0;
  padding: 0 8px;
  text-align: center;
}

#index-title {
  flex-grow: 0.5;
  border-top-left-radius: var(--border-rad);
}

#fav-title {
  flex-grow: 2;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding-left: 63px;
}

.not-fav-icon {
  width: 30px;
  padding: 0;
  margin: 0;
}

#sort-icon {
  width: 35px;
}

#tag-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1.5;
  padding-left: 63px;
  /* border: red solid 1px; */
}

#tags,
#contact-dialog-tags {
  font-size: medium;
  font-weight: bold;
  height: 60%;
  width: 70%;
  padding: 0 2%;
  color: white;
  text-align: center;
  border-radius: var(--border-rad);
  background-color: var(--dark5);
}

#contact-dialog-tags{
  height: 100%;
  width: 100%;
}

#contact-modal-divs{
  grid-column: 2;
  grid-row: 1;
}


#phone-title {
  flex-grow: 1.5;
  display: flex;
  justify-content: center;
  padding-right: 30px;
  /* border: red solid 1px; */
}

#list-header-btns {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  border-top-right-radius: var(--border-rad);
}

#list-header-btns > .list-header-titles {
  flex-grow: 1;
  padding: 0;
  text-align: center;
}

.list-header-titles:last-child {
  border-top-right-radius: var(--border-rad);
}

/* List Row */
.list-row {
  padding: 1% 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: var(--dark1);
  border-bottom: 2px solid var(--dark4);
  height: 80px;
  transition: background-color 0.8s ease-in-out, color 0.8s ease-in-out;
}

.vanish {
  display: none;
}

.list-row:last-child {
  border-bottom: none;
}

.listRowHover {
  background-color: var(--list-row-hover);
  color: black;
  transition: background-color 0.8s ease-in-out, color 0.8s ease-in-out;
}

.body-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  flex-grow: 1;
  flex-basis: 0;
  padding: 0 10px;
  text-align: center;
}

.row-index {
  flex-grow: 0.5;
  width: 100%;
}

.profile-pic,
#contact-image,
#profile-image-show {
  width: var(--profile-pic-w);
  border-radius: 50%;
}

.row-fav {
  width: 100%;
}

.row-pic-name {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-grow: 2;
  gap: 10px;
  text-align: left;
}

.row-tag {
  flex-grow: 1;
}

.row-tag span,
#tag-select-container {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border: none;
  color: var(--text-color);
  border-radius: var(--border-rad);
  cursor: pointer;
  font-size: 1rem;
}

.family-tag {
  background-color: var(--not-ok-btn-color);
}

.school-tag {
  background-color: var(--tag-color);
}

.work-tag {
  background-color: var(--ok-btn-color);
}

.friend-tag {
  background-color: #dfe229;
}

.row-phone {
  flex-grow: 1.5;
  width: 100px;
  flex-shrink: 0;
}

.row-btns {
  display: flex;
  flex-direction: row;
  flex-grow: 0.7;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
}

.contact-buttons img:hover {
  cursor: pointer;
}

.contact-buttons img {
  width: var(--buttons-width);
}

/* List Footer */
#list-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark3);
  font-weight: bold;
  height: 30px;
  width: 100%;
  border-bottom-left-radius: var(--border-rad);
  border-bottom-right-radius: var(--border-rad);
  border-top: 2px solid var(--dark5);
}

/*#endregion Contact Table Section*/

/* #endregion Main */

/* #region Footer */
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: var(--header-footer-height);
  border-radius: var(--border-rad);
  padding: 1% 0;
  box-sizing: border-box;
  background-color: var(--dark2);
  box-shadow: var(--box-shadow-effects);
}

#copyrights {
  font-size: 1.2rem;
  color: var(--text-color);
  text-align: center;
  border-radius: var(--border-rad);
  padding: 1rem;
  width: 90%;
}

/*#region Modal */
/* #region Dialogs */
dialog {
  width: 80%;
  max-width: 500px;
  padding: 2rem 2rem 10px 2rem;
  border-radius: var(--border-rad);
  background-color: var(--dark2);
  color: var(--text-color);
  box-shadow: var(--box-shadow-effects);
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2000;
  overflow: hidden;
  display: none;
}

dialog h2 {
  margin-bottom: 1rem;
  font-size: 1.6rem;
}

dialog p {
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

dialog input[type="text"],
dialog input[type="tel"],
dialog input[type="email"],
#comments-area,
#update-comments-area {
  width: 100%;
  padding: 0.8rem;
  margin: 0.3rem 0;
  border-radius: var(--border-rad);
  border: 1px solid var(--border-color-input);
  background-color: var(--dark3);
  color: var(--text-color);
  font-size: 1rem;
}

dialog input[type="file"]{
  display: none;
}


#comments-area {
  min-width: 250px;
  max-width: 312px;
  min-height: 60px;
  max-height: 80px;
}

#invalid-input-message {
  color: var(--not-ok-btn-color);
  margin-bottom: 1rem;
}

dialog input[type="text"]:focus,
dialog input[type="tel"]:focus,
dialog input[type="email"]:focus,
dialog input[type="url"]:focus,
#comments-area:focus {
  border-color: var(--dark3);
}

dialog button {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border: none;
  background-color: var(--dark4);
  color: var(--text-color);
  border-radius: var(--border-rad);
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease-in-out;
}

dialog button:hover {
  background-color: var(--dark5);
}

dialog .dialog-actions {
  display: flex;
  gap: 1rem;
  justify-content: center;
  width: 100%;
}

#confirm-delete-btn,
#confirm-delete-all-btn,
#close-contact-details-dialog,
#cancel-no-contacts-to-delete-btn,
#close-contact-dialog {
  background-color: var(--not-ok-btn-color);
}

#confirm-delete-btn:hover,
#confirm-delete-all-btn:hover,
#close-update-contact-dialog:hover,
#close-contact-details-dialog:hover,
#close-contact-dialog:hover,
#cancel-no-contacts-to-delete-btn:hover {
  background-color: var(--not-ok-btn-color-hover);
}

#close-delete-dialog,
#close-delete-all-dialog,
#no-contacts-to-delete-dialog {
  background-color: var(--dark4);
}

#close-delete-dialog:hover,
#close-delete-all-dialog:hover {
  background-color: var(--dark5);
}

#edit-form button[type="submit"],
#add,
#save,
#add-new-contact-button {
  background-color: var(--ok-btn-color);
}

#edit-form button[type="submit"]:hover,
#update-button:hover,
#add-new-contact-button:hover {
  background-color: var(--ok-btn-color-hover);
}
/* #region Contact Details Modal */
#contact-details-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.1rem;
}

.contact-detail,
.update-modal-divs,
.contact-modal-divs {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
  border-radius: var(--border-rad);
  width: 100%;
  box-shadow: var(--box-shadow-effects);
}

.contact-detail-pic-and-name {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  gap: 1rem;
  border: 2px solid var(--border-color-input);
  border-radius: var(--border-rad);
  padding: 0.5rem 1rem;
  width: 100%;
  background-color: var(--dark1);
}

#update-contact-form {
  border-radius: var(--border-rad);
}

.contact-detail label,
.contact-detail h3 {
  color: var(--text-color);
}

.contact-detail label,
.update-modal-divs label,
.contact-modal-divs label {
  border: 2px solid var(--border-color-input);
  text-align: center;
  padding: 1vh;
  border-radius: var(--border-rad);
  background-color: var(--tag-color);
}

.contact-detail .detail-value {
  color: var(--text-color);
  font-size: 1.1rem;
}



.contact-detail img {
  width: var(--buttons-width);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

#timestamp {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  font-size: small;
}

/* #endregion Contact Details Modal */
/* #endregion Dialogs */
/* #endregion Modal */
/* #endregion Footer */

/* Responsivness CSS */
@media screen and (min-width: 300px) and (max-width: 900px) {
  /* #region Body */
  #wrapper {
    width: 85%;
    padding: 2%;
  }
  /* #endregion Body*/

  /* #region Header */

  #nav-bar {
    padding: 0;
  }

  #nav-bar > a {
    margin: 5px 0;
    width: 100%;
  }

  #nav-bar > a:hover {
    transform: scale(1.05);
  }

  /* #endregion Header */

  /* #region Main */

  /*#region Search Navigation Section*/
  #search-nav-section {
    flex-direction: column;
    gap: 10px;
    padding: 3%;
    margin-bottom: 4%;
  }

  #search-bar-div {
    justify-content: flex-start;
    height: 7vh;
    width: 100%;
    padding: 0 1vw;
  }

  #search-input {
    width: 100%;
  }

  #search-icon {
    margin-right: 2%;
  }

  #search-btns-div {
    width: 100%;
  }
  /*#endregion Search Navigation Section*/

  /*#region Contact Table Section*/

  #empty-contact-msg {
    gap: 2rem;
  }

  #empty-contact-msg p {
    font-size: 2rem;
  }

  /* List Header */
  #list-header {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  #list-header > * {
    display: none;
  }

  .list-header-titles {
    display: none;
  }

  #fav-title {
    flex-grow: 0.5;
    display: flex;
    justify-content: center;
    padding-left: 10px;
    border-top-left-radius: var(--border-rad); /*HY*/
  }

  #fav-title label {
    font-size: 0.9rem;
  }

  .not-fav-icon {
    width: 35px;
    padding: 0;
    margin: 0;
  }

  #sort-icon {
    width: 35px;
  }

  #tag-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 2;
    border-top-right-radius: var(--border-rad); /*HY*/
  }

  #tags {
    width: 100%;
  }

  #phone-title {
    display: none;
  }

  /* List Row */
  .list-row {
    padding: 5% 0;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    height: auto;
    position: relative;
  }

  .row-index {
    width: 30px;
    height: 30px;
    padding: 2%;
    background-color: var(--dark5);
    border-radius: 100%;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .row-fav {
    width: fit-content;
    position: absolute !important;
    top: 10px;
    left: 0;
  }

  .row-pic-name {
    flex-direction: column;
    text-align: center;
    width: 100%;
  }

  .row-phone {
    width: 60%;
    font-size: 1.3rem;
  }

  /*HY Here!*/
  .row-btns {
    display: flex;
    flex-direction: row;
    flex-grow: 0.7;
    justify-content: center;
    align-items: center;
    padding: 0 8px;
    width: 100%;
  }

  .contact-buttons img:hover {
    cursor: pointer;
  }

  .contact-buttons img {
    width: var(--buttons-width);
  }

  /* List Footer */
  #list-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark3);
    font-weight: bold;
    height: 30px;
    width: 100%;
    border-bottom-left-radius: var(--border-rad);
    border-bottom-right-radius: var(--border-rad);
    border-top: 2px solid var(--dark5);
  }

  /*#endregion Contact Table Section*/

  /* #endregion Main */

  /* #region Footer */
  footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: var(--header-footer-height);
    border-radius: var(--border-rad);
    padding: 5%;
    box-sizing: border-box;
    background-color: var(--dark2);
    box-shadow: var(--box-shadow-effects);
  }

  #copyrights {
    font-size: 0.8rem;
    color: var(--text-color);
    text-align: center;
    border-radius: var(--border-rad);
    padding: 0;
    width: 90%;
  }

  /*#region Modal */
  /* #region Dialogs */
  dialog {
    width: 80%;
    max-width: 500px;
    padding: 2rem 2rem 2rem 0;
    border-radius: var(--border-rad);
    background-color: var(--dark2);
    color: var(--text-color);
    box-shadow: var(--box-shadow-effects);
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2000;
    overflow: hidden;
    display: none;
  }

  dialog h2 {
    margin-bottom: 1rem;
    font-size: 1.6rem;
  }

  dialog p {
    margin-bottom: 1rem;
    font-size: 1.1rem;
  }

  dialog input[type="text"],
  dialog input[type="tel"],
  dialog input[type="email"],
  dialog input[type="url"],
  #comments-area,
  #update-comments-area {
    width: 100%;
    padding: 0.8rem;
    margin: 0.3rem 0;
    border-radius: var(--border-rad);
    border: 1px solid var(--border-color-input);
    background-color: var(--dark3);
    color: var(--text-color);
    font-size: 1rem;
  }

  #comments-area {
    min-width: 250px;
    max-width: 312px;
    min-height: 60px;
    max-height: 80px;
  }

  dialog input[type="text"]:focus,
  dialog input[type="tel"]:focus,
  dialog input[type="email"]:focus,
  dialog input[type="url"]:focus,
  #comments-area:focus {
    border-color: var(--dark3);
  }

  dialog button {
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border: none;
    background-color: var(--dark4);
    color: var(--text-color);
    border-radius: var(--border-rad);
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease-in-out;
  }

  dialog button:hover {
    background-color: var(--dark5);
  }

  dialog .dialog-actions {
    display: flex;
    gap: 1rem;
    justify-content: center;
    width: 100%;
  }

  #confirm-delete-btn,
  #confirm-delete-all-btn,
  #close-contact-details-dialog,
  #close-contact-dialog {
    background-color: var(--not-ok-btn-color);
  }

  #confirm-delete-btn:hover,
  #confirm-delete-all-btn:hover,
  #close-update-contact-dialog:hover,
  #close-contact-details-dialog:hover,
  #close-contact-dialog:hover {
    background-color: var(--not-ok-btn-color-hover);
  }

  #close-delete-dialog,
  #close-delete-all-dialog {
    background-color: var(--dark4);
  }

  #close-delete-dialog:hover,
  #close-delete-all-dialog:hover {
    background-color: var(--dark5);
  }

  #edit-form button[type="submit"],
  #update-button,
  #add-new-contact-button {
    background-color: var(--ok-btn-color);
  }

  #edit-form button[type="submit"]:hover,
  #update-button:hover,
  #add-new-contact-button:hover {
    background-color: var(--ok-btn-color-hover);
  }
  /* #region Contact Details Modal */
  #contact-details-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
  }

  .contact-detail,
  .update-modal-divs,
  .contact-modal-divs {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    gap: 1rem;
    margin-top: 0.5rem;
    border-radius: var(--border-rad);
    width: 100%;
    box-shadow: var(--box-shadow-effects);
  }

  .contact-detail-pic-and-name {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    gap: 1rem;
    border: 2px solid var(--border-color-input);
    border-radius: var(--border-rad);
    padding: 0.8rem 1rem;
    width: 100%;
    background-color: var(--dark1);
  }

  #update-contact-form {
    border-radius: var(--border-rad);
  }

  .contact-detail label,
  .contact-detail h3 {
    color: var(--text-color);
  }

  .contact-detail label,
  .update-modal-divs label,
  .contact-modal-divs label {
    border: 2px solid var(--border-color-input);
    text-align: center;
    padding: 1vh;
    border-radius: var(--border-rad);
    background-color: var(--tag-color);
  }

  .contact-detail .detail-value {
    color: var(--text-color);
    font-size: 1.1rem;
  }

  .contact-detail img {
    width: var(--buttons-width);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
  }

  /* #endregion Contact Details Modal */
  /* #endregion Dialogs */
  /* #endregion Modal */
  /* #endregion Footer */

  /*#region Modal */
  /* #region Dialogs */
  dialog {
    width: 90%;
    max-width: 500px;
    padding: 1rem;
    border-radius: var(--border-rad);
    background-color: var(--dark2);
    color: var(--text-color);
    box-shadow: var(--box-shadow-effects);
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2000;
    overflow: hidden;
    display: none;
  }

  dialog h2 {
    margin-bottom: 1rem;
    font-size: 1.6rem;
    text-align: center;
  }

  dialog p {
    margin-bottom: 1rem;
    font-size: 1.1rem;
  }

  dialog input[type="text"],
  dialog input[type="tel"],
  dialog input[type="email"],
  dialog input[type="url"],
  #comments-area,
  #update-comments-area {
    width: 100%;
    padding: 0.8rem;
    margin: 0.3rem 0;
    border-radius: var(--border-rad);
    border: 1px solid var(--border-color-input);
    background-color: var(--dark3);
    color: var(--text-color);
    font-size: 1rem;
  }

  #comments-area {
    min-width: 190px;
    max-width: 312px;
    min-height: 60px;
    max-height: 80px;
  }

  dialog input[type="text"]:focus,
  dialog input[type="tel"]:focus,
  dialog input[type="email"]:focus,
  dialog input[type="url"]:focus,
  #comments-area:focus {
    border-color: var(--dark3);
  }

  dialog button {
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border: none;
    background-color: var(--dark4);
    color: var(--text-color);
    border-radius: var(--border-rad);
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease-in-out;
  }

  dialog button:hover {
    background-color: var(--dark5);
  }

  dialog .dialog-actions {
    display: flex;
    gap: 1rem;
    justify-content: center;
    width: 100%;
  }

  #confirm-delete-btn,
  #confirm-delete-all-btn,
  #close-contact-details-dialog {
    background-color: var(--not-ok-btn-color);
  }

  #confirm-delete-btn:hover,
  #confirm-delete-all-btn:hover,
  #close-update-contact-dialog:hover,
  #close-contact-details-dialog:hover,
  #close-contact-dialog:hover {
    background-color: var(--not-ok-btn-color-hover);
  }

  #close-delete-dialog,
  #close-delete-all-dialog {
    background-color: var(--dark4);
  }

  #close-delete-dialog:hover,
  #close-delete-all-dialog:hover {
    background-color: var(--dark5);
  }

  #edit-form button[type="submit"],
  #update-button,
  #add-new-contact-button {
    background-color: var(--ok-btn-color);
  }

  #edit-form button[type="submit"]:hover,
  #update-button:hover,
  #add-new-contact-button:hover {
    background-color: var(--ok-btn-color-hover);
  }
  /* #region Contact Details Modal */
  #contact-details-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
  }

  .contact-detail,
  .update-modal-divs,
  .contact-modal-divs {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    gap: 1rem;
    margin-top: 0.5rem;
    border-radius: var(--border-rad);
    width: 100%;
    box-shadow: var(--box-shadow-effects);
  }

  .contact-detail-pic-and-name {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    gap: 1rem;
    border: 2px solid var(--border-color-input);
    border-radius: var(--border-rad);
    padding: 0.8rem 1rem;
    width: 100%;
    background-color: var(--dark1);
  }

  #update-contact-form {
    border-radius: var(--border-rad);
  }

  .contact-detail label,
  .contact-detail h3 {
    color: var(--text-color);
  }

  .contact-detail label,
  .update-modal-divs label,
  .contact-modal-divs label {
    border: 2px solid var(--border-color-input);
    text-align: center;
    padding: 1vh;
    border-radius: var(--border-rad);
    background-color: var(--tag-color);
  }

  .contact-detail .detail-value {
    color: var(--text-color);
    font-size: 0.9rem;
  }

  .contact-detail img {
    width: var(--buttons-width);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
  }

  /* #endregion Contact Details Modal */
  /* #endregion Dialogs */
  /* #endregion Modal */
}

@media screen and (min-width: 901px) and (max-width: 1025px) {
  /* #region Body */
  #wrapper {
    width: 90%;
    padding: 2%;
  }
  /* #endregion Body*/

  /*#region Search Navigation Section*/
  #search-nav-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1% 1vw;
    margin-bottom: 2%;
    background-color: var(--dark2);
    border-radius: var(--border-rad);
    box-shadow: var(--box-shadow-effects);
  }

  #search-bar-div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--dark3);
    border-radius: 50px;
    height: 4vh;
    padding: 0 1vw;
    width: 70%;
    transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
    transition: transform 0.3s ease-out, border 0.3s ease-out;
    box-shadow: var(--box-shadow-effects);
  }

  #search-bar-div:focus-within {
    background-color: var(--dark4);
    border: 2px solid var(--border-color-input);
    transform: scale(1.01);
  }

  #search-input {
    height: 100%;
    padding: 0 1rem;
    outline: none;
    border: none;
    width: 100%;
    font-size: 1.5rem;
    color: var(--text-color);
    background-color: var(--dark3);
    border-radius: var(--border-rad);
    transition: background-color 0.3s ease-in-out;
  }

  #search-input:focus {
    background-color: var(--dark4);
  }

  #search-icon {
    width: var(--buttons-width);
    transition: transform 0.3s ease-in-out;
  }

  #search-btns-div {
    height: 4vh;
    padding: 0 1vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    background-color: var(--dark3);
    border-radius: 50px;
    box-shadow: var(--box-shadow-effects);
  }

  #search-btns-div button {
    width: 3rem;
    height: 3rem;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease-out;
  }

  #search-btns-div button:hover {
    transform: scale(1.2);
  }

  .btns-imgs {
    width: var(--buttons-width);
  }
  /*#endregion Search Navigation Section*/

  /*#region Contact Table Section*/
  #contacts-data-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2%;
    background-color: var(--dark2);
    border-radius: var(--border-rad);
  }

  #empty-contact-msg {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    display: none;
  }

  #empty-contact-msg p {
    font-size: 3rem;
  }

  #contacts-list {
    list-style: none;
    width: 100%;
    max-height: 320px;
    background-color: var(--dark1);
    box-shadow: var(--box-shadow-effects);
    margin: 0;
    padding: 0;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }

  html::-webkit-scrollbar,
  #contacts-list::-webkit-scrollbar {
    width: 0;
  }

  /* List Header */
  #list-header {
    padding: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid var(--dark5);
  }

  .list-header-titles {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark3);
    font-weight: bold;
    height: 50px;
    flex-grow: 1;
    flex-basis: 0;
    padding: 0 8px;
    text-align: center;
  }

  #index-title {
    flex-grow: 0.5;
    border-top-left-radius: var(--border-rad);
  }

  #fav-title {
    flex-grow: 2;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding-left: 40px;
  }

  .not-fav-icon {
    width: 30px;
    padding: 0;
    margin: 0;
  }
  #sort-icon {
    width: 35px;
  }

  #tag-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 2;
    padding-left: 10px;
  }

  #tags {
    font-size: medium;
    font-weight: bold;
    height: 60%;
    width: 70%;
    padding: 0 2%;
    color: white;
    text-align: center;
    border-radius: var(--border-rad);
    background-color: var(--dark5);
  }

  #phone-title {
    flex-grow: 1.5;
    display: flex;
    justify-content: center;
    padding-right: 30px;
    /* border: red solid 1px; */
  }

  #list-header-btns {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    border-top-right-radius: var(--border-rad);
  }

  #list-header-btns > .list-header-titles {
    flex-grow: 1;
    padding: 0;
    text-align: center;
  }

  .list-header-titles:last-child {
    border-top-right-radius: var(--border-rad);
  }

  /* List Row */
  .list-row {
    padding: 1% 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: var(--dark1);
    border-bottom: 2px solid var(--dark4);
    height: 80px;
  }

  .list-row:last-child {
    border-bottom: none;
  }

  .list-row:hover {
    background-color: var(--list-row-hover);
    color: black;
    transition: background-color 0.8s ease-in-out, color 0.3s ease-in-out;
  }

  .body-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    flex-grow: 1;
    flex-basis: 0;
    padding: 0 10px;
    text-align: center;
  }

  .row-index {
    flex-grow: 0.5;
    width: 100%;
  }

  .row-fav {
    width: 100%;
  }

  .row-pic-name {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-grow: 2;
    gap: 10px;
    text-align: left;
  }

  .row-tag {
    flex-grow: 1;
  }

  .row-tag span,
  #tag-select-container {
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border: none;
    color: var(--text-color);
    border-radius: var(--border-rad);
    cursor: pointer;
    font-size: 1rem;
  }

  .family-tag {
    background-color: var(--not-ok-btn-color);
  }

  .school-tag {
    background-color: var(--tag-color);
  }

  .work-tag {
    background-color: var(--ok-btn-color);
  }

  .friend-tag {
    background-color: #dfe229;
  }

  .row-phone {
    flex-grow: 1.5;
    width: 100px;
    flex-shrink: 0;
  }

  .row-btns {
    display: flex;
    flex-direction: row;
    flex-grow: 0.7;
    justify-content: center;
    align-items: center;
    padding: 0 8px;
  }

  .contact-buttons img:hover {
    cursor: pointer;
  }

  .contact-buttons img {
    width: var(--buttons-width);
  }

  /* List Footer */
  #list-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark3);
    font-weight: bold;
    height: 30px;
    width: 100%;
    border-bottom-left-radius: var(--border-rad);
    border-bottom-right-radius: var(--border-rad);
    border-top: 2px solid var(--dark5);
  }

  /*#endregion Contact Table Section*/
}
